/* header */
.logohead{
    padding: 10px;
    width: 50%;
    margin: 20px;
}
h1{
    display: flex;
    justify-content:flex-start;
    position: relative;
    left:150px;
    border: solid 3px black;
}
.fondo{
    background-color: yellowgreen;
    background-attachment: fixed;
    
}
.nav{
    display: flex;
    justify-content: right;
    text-align: end;
    color: black;
   position: relative;
   bottom: 35px;

}
li{
    color: black;
    font-size: 20px;
}

p{
    color: black;
    font-size: 25px;
    padding: 25px;
}
.imagenmedio{
    display:flex;
    padding: 50px;
    margin:15px
}
img{
    width: 25%
}
/* footer */
footer{
    display: flex;
    flex-direction:row;
    height: 250px;
    
    background-color: yellowgreen;

}
.redes{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    padding: 15px;
}
.foo{
    display: flex;
    flex-direction: row;
    width: 500px;
}
.direc{
    font-size: 25px;
    color: red;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.carrusel{
    width: 100%;
    padding-top: 15px;
}
 
@media only screen and (min-width: 0px) and (max-width: 768px){

   img{
      width: 40%;
      height: 25%;
   }
   p{
       font-size: 15px;
   } 
   .logohead{
    height: 100%;

   }
 

}     
