/* header */
.logohead{
    padding: 10px;
    width: 50%;
    margin: 20px;
}
h1{
    display: flex;
    justify-content:flex-start;
    position: relative;
    left:150px; 
    
}
a{
    text-decoration: none;
}
.fondo{
    /* background-image: url(../img/fondo1.jpg); */
    background-color: yellowgreen;
    /* background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover; */
    overflow-x: hidden;
}

.nav{
    display: flex;
    justify-content: right;
    text-align: end;
    color: black;
   /* position: relative;
   bottom: 35px; */

}
li{
    color: black;
    
   
}
.texto{
    font-size: 15px;
    
}
p{
    color: black;
    
    padding: 25px;
}
.imagenmedio{
    /* display:flex;
    justify-content: center; */
    padding: 50px;
    margin:15px
}
img{
    width: 50%
}
.img1{
   position: relative;
   left: 160px;
}
.img2{
    position: relative;
    left: 160px;
}
.porque{
    display: flex;
    justify-content: center;
    
}
.paraque{
    display: flex;
    justify-content: center;
    
}
/* footer */
footer{
    display: flex;
    flex-direction:row;
    padding-top: 30px;
    /* height: 250px; */
    
    background-color: yellowgreen;

}
.logofoo{

}
.texto1{
    color: blue;
    height: 7px;
    
       

}
.texto2{
    color: blue;
    height: 7px;
}
/* .textofoo1{
    display: inline-block; */
   
    

:hover.texto1{
    color: brown;
    font-size: 20px;
}

.redes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 136px;
    height: 65px;
    padding: 15px;
}
.foo{
    display: flex;
    flex-direction: row;
    width: 500px;
}
.direc{
    font-size: 25px;
    color: red;
    background-color:yellowgreen;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
}
.carrusel{
    width: 100%;
    padding-top: 15px;
    /* overflow: hidden; */
}
/* productos */
img{
    width: 35%;
}
/* .produtos{
    padding: 30px;
    display: flex;
    justify-content: center; */

.tituloproductos{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.imgprod2{
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: center;
}
/* contacto */

 .form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 /* politicas de privacidad */

 .contenedorpoliticas{
     display: grid;
     grid-template-areas: "logo nav nav nav"
                            "titulo titulo titulo titulo"
                          "p p p p"
                          "footer footer footer footer";
                
     grid-template-rows: 200px auto 1000px auto ;
     grid-template-columns: repeat(4, 25%);
     
     
 } 

 
.politicaslogo{
    grid-area: logo;
}
/* nav */
.politicasnav{
   display: flex;
   flex-direction: row;
   padding: 15px;
   text-decoration: none;
  list-style-type: none;
  font-size: 20px;



}
.navheader{
    display: flex;
    justify-content: end;
}
.terminosp{
    display: flex;
    grid-area: titulo;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
a{
    padding: 15px;
    
    
}

.navheader{
    grid-area: nav;
    display: flex;
    justify-content: end;
}

main{
    grid-area: p;

}
footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.redes1{
    display: flex;
    width: 25%;
}
.redes4{
    display: flex;
    justify-content: center;
    padding: 15px;

}
.redes2{
    display: flex;
    padding: 15px;
}
/* ubicacion */
.ubip{
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.ubip1{
    font-size: 20px;
    display: flex;
    justify-content: center;

}



@media only screen and (min-width: 0px) and (max-width: 768px){

   
   img{
      width: 40%;
      
      
      /* height: 25%; */
   }

   p{
       font-size: 15px;
   } 
   h3{
       font-size: 20px;
   }
   .logohead{
    height: 70%;


   }
   .logofoo1{
       display: flex;
       justify-content: center;
   }
   .redes{
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
   ul li{
       padding: 0px;
       font-size: 15px;
       
   }
 .container-fluid{
     overflow: hidden;
 }
 
 
.nav{
    position: relative;
    bottom: 180px;
}
.titulo{
    display: flex;
    justify-content: center;

}
h1{
   position: relative;
   left: 40px;
  
    
}
.politicaslogo{
    width: 60%;
    display: flex;
    justify-content: end;
}
.logofoo{
    width: 50%;
    height: 50%;
    justify-content: center;
}
.imagenmedio{
    padding: 15px;
}
.img1{
    height: 150px;
    position: relative;
    left: 85px;
}
.img2{
    height: 150px;
    position: relative;
    left: 85px;
}
.imgprod2{
    height: 20%;
    width: 30%;
  
    
}
/* grid */
/* terminos y condiciones */

.contenedorpoliticas{
    display: grid;
    grid-template-areas: "logo "
                         "nav"
                         "titulo"
                          "p "
                         "footer";
               
    grid-template-rows:  auto auto auto auto auto;
    grid-template-columns: 100%;

}
.politicasfoo{
    grid-area: logo;
    display: flex;
    justify-content: center;
}
.nav ul{
    grid-area: nav;
    /* display: flex;
    justify-content: center; */
   

}

.terminosp{
    grid-area: titulo;
    /* display: flex;
    justify-content: center; */
    /* position: relative;
    left:55px ; */
    
}
.politicasnav{
    display: flex;
    justify-content: center;
    /* position: relative;
    left: 15px;
 */
}
.navheader{
    display: flex;
    justify-content: center;
}
.texto3{
     
     font-size: 19px;
}
.textofoo1{

}
main{
    grid-area: p;
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
}
.direc{
    font-size: 15px;
}
.redes{
    width: 60px;
    height: 66px;
    display: flex;
    
}
.redes1{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
iframe{
    width: 100%;
}



    

}


